# Environments
.env
.venv/
env/
venv/
ENV/
env.bak/
venv.bak/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Application Data & Media (Too Heavy / Sensitive)
data/downloads/
data/profiles/
data/content_map.csv
scratch/
*.mp4
*.webm
*.png
*.webp

# macOS
.DS_Store
data/thumbnails/
*.log

# Databases
*.db
*.db-shm
*.db-wal
*.sqlite
*.sqlite3
